    <!-- Start Footer -->
    <section class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 mb-3">
            <div class="ftco-footer d-flex gap-4 flex-column">
              <h2 class="text-white text-uppercase">About Us</h2>
              <p class="text-white-50">
                The organization cooperates with a number of regional and
                international institutions concerned with human dignity and a
                better life.
              </p>
              <ul class="social-icons d-flex gap-3">
                <a
                  target="_blank"
                  href="https://www.facebook.com/profile.php?id=100067013510605"
                  class="d-flex align-items-center justify-content-center social-icon"
                >
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a
                  target="_blank"
                  href="https://www.instagram.com/happiness_organization_2022/"
                  class="d-flex align-items-center justify-content-center social-icon"
                >
                  <i class="fa-brands fa-instagram"></i>
                </a>
                <a
                  target="_blank"
                  href="https://www.youtube.com/@HappinessOrganization"
                  class="d-flex align-items-center justify-content-center social-icon"
                >
                  <i class="fa-brands fa-youtube"></i>
                </a>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 wd-35 mb-3">
            <div class="ftco-footer d-flex flex-column gap-4">
              <h2 class="text-white text-uppercase">Our Board</h2>
              <div
                id="small-box"
                class="small-box d-flex justify-content-center align-items-center gap-2"
              >
                <div class="pic">
                  <img
                    style="width: 80px; height: 80px; object-fit: cover"
                    class="mw-100"
                    src="./img/our-board/our-board.jpeg"
                    alt=""
                  />
                </div>
                <div style="flex: 1" class="cont d-flex flex-column gap-1">
                  <p style="font-size: 14px" class="text-white-50">
                    Our excutive committee that jointly supervises the
                    activities, strategic Direction and accountability of our
                    nonprofit Organization our main goal, helping with a smile
                    .. can make a difference.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 wd-10 mb-3">
            <div class="ftco-footer d-flex gap-4 flex-column">
              <h2 class="text-white text-uppercase">Site links</h2>
              <ul class="d-flex flex-column gap-3">
                <li>
                  <a href="./index.html" class="site-link"> Home </a>
                </li>
                <li>
                  <a href="./About.html" class="site-link"> About </a>
                </li>
                <li>
                  <a href="./our-board.html" class="site-link"> Our Board</a>
                </li>
                <li>
                  <a href="./events.html" class="site-link"> Events </a>
                </li>
                <li>
                  <a href="./contact-us.html" class="site-link">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="ftco-footer">
              <h2 class="text-white text-uppercase">HAVE A QUESTIONS?</h2>
              <div class="info pt-5 d-flex flex-column gap-4">
                <div
                  class="info-one d-flex align-items-center gap-3 text-white"
                >
                  <i class="fa-solid fa-location-dot"></i>
                  <p style="color: #a19f9f">
                    P. O. Box 209, New York, NY 10101
                  </p>
                </div>
                <div
                  class="info-one d-flex align-items-center gap-3 text-white"
                >
                  <i class="fa-solid fa-phone"></i>
                  <p style="color: #a19f9f">1 (718) 790-0497</p>
                </div>
                <div
                  class="info-one d-flex align-items-center gap-3 text-white"
                >
                  <i class="fa-solid fa-envelope"></i>
                  <p style="color: #a19f9f">Info@happinessorganization.com</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="copyright text-white">
          <p class="text-center">
            Copyright ©2023 All rights reserved by Happiness Organization
          </p>
        </div>
      </div>
    </section>
    <!-- End Footer -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/assets/ho/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/ho/js/main.js"></script>
    <script>
      AOS.init();
    </script>
    <script></script>

  </body>
</html>