{% extends "templates/base.html" %}
{% block title %}Home | Happiness Organization{% endblock title%}
{% block content%}
    <!-- Start Landing -->
    <div class="landing position-relative">
      <div class="bg-img">
        <img class="mw-100" src="./img/home-banner.jpg" alt="" />
        <div class="content">
          <h1 class="mb-4" data-aos="zoom-in" data-aos-duration="1500">
            Doing Nothing is Not An Option of Our Life
          </h1>
          <a
            href="#video"
            class="good-btn btn btn-white btn-outline-white px-4 py-3 popup-vimeo d-flex align-items-center justify-content-center m-auto gap-2"
            onclick="playVideo()"
          >
            <i class="fa-solid fa-play"></i>
            <span>Watch video</span>
          </a>
        </div>
      </div>
      <!-- Start Intro -->
      <section class="intro">
        <div
          class="container"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="500"
        >
          <div class="serve d-flex flex-column flex-lg-row">
            <div
              style="flex: 1"
              class="served d-flex flex-column gap-2 align-items-center justify-content-center"
            >
              <span class="text-center"
                >Help Kids and women all over the world</span
              >
            </div>
            <div class="served-one d-flex flex-column gap-4">
              <h3>Donate Money</h3>
              <p>
                Even the all-powerful Pointing has no control about the blind
                texts.
              </p>
              <a
                href="https://app.autobooks.co/pay/happiness-organization-for-human-relief"
                target="_blank"
                class="px-3 py-2 good-btn"
                >Donate Now</a
              >
            </div>
            <div class="served-two d-flex flex-column gap-4">
              <h3>Be a Volunteer</h3>
              <p>
                Even the all-powerful Pointing has no control about the blind
                texts.
              </p>
              <a href="./contact-us.html" class="px-3 py-2 good-btn"
                >Be A Volunteer</a
              >
            </div>
          </div>
        </div>
      </section>
      <!-- End Intro -->
    </div>
    <!-- End Landing -->
    <!-- Start Media -->
    <div class="media">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="media-one d-flex gap-3 justify-content-center">
              <i
                style="font-size: 50px; color: var(--third-color)"
                class="fa-solid fa-hand-holding-heart"
              ></i>
              <div class="text d-flex flex-column gap-3">
                <h3 style="font-weight: 300">Make Donation</h3>
                <p class="text-secondary">
                  Even the all-powerful Pointing has no control about the blind
                  texts it is an almost unorthographic.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="media-one d-flex gap-3 justify-content-center">
              <i
                style="font-size: 50px; color: var(--third-color)"
                class="fa-solid fa-handshake-angle"
              ></i>
              <div class="text d-flex flex-column gap-3">
                <h3 style="font-weight: 300">Become A Volunteer</h3>
                <p class="text-secondary">
                  Even the all-powerful Pointing has no control about the blind
                  texts it is an almost unorthographic.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="media-one d-flex gap-3 justify-content-center">
              <i
                style="font-size: 50px; color: var(--third-color)"
                class="fa-solid fa-hand-holding-dollar"
              ></i>
              <div class="text d-flex flex-column gap-3">
                <h3 style="font-weight: 300">Sponsorship</h3>
                <p class="text-secondary">
                  Even the all-powerful Pointing has no control about the blind
                  texts it is an almost unorthographic.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Media -->
    <!-- Start About Us -->
    <div
      style="background-color: #fafafa"
      class="about-us mb-5 overflow-hidden pb-5"
    >
      <div class="container">
        <h2 class="text-center mb-5 mt-5 text-uppercase">About Us</h2>
        <div class="row">
          <div class="col-lg-6">
            <div class="cont d-flex flex-column gap-2 gap-lg-4">
              <p data-aos="fade-right" data-aos-duration="300">
                A non-profit organization base in New York City, USA
              </p>
              <p data-aos="fade-right" data-aos-duration="500">
                Our organization is interested in spreading hope and giving
                through its primary goal, which is caring for women and
                children, by helping those who are economically, morally, and
                financially unable to find their way to continue the eduction
                journey by contributing to alleviating suffering and
                transforming life into a better from for a happier socitey and a
                good life. for everyone
              </p>
              <p data-aos="fade-right" data-aos-duration="500">
                The organization was established on October 19,2019 and was
                inauguarted for the first time form within the corridors of the
                united Nations with a number of members and some guests
              </p>
              <p data-aos="fade-right" data-aos-duration="600">
                The organization cooperates with a number of regional and
                international institutions concerned with human dignity and a
                better life.
              </p>
              <p data-aos="fade-right" data-aos-duration="700">
                Our main motto is "Help with a smile... you can make the
                difference"
              </p>
            </div>
          </div>
          <div
            data-aos="fade-left"
            data-aos-duration="1000"
            class="col-lg-6 d-flex or mb-3"
          >
            <div class="pic">
              <img
                style="object-fit: cover"
                class="mw-100 h-100"
                src="./img/about-main.jpeg"
                alt=""
              />
            </div>
          </div>
        </div>
        <a
          style="width: 173.52px"
          href="./About.html"
          class="btn main-btn d-flex align-items-center justify-content-center up-coming mt-4"
          >About Us</a
        >
      </div>
    </div>
    <!-- End About Us -->
    <!-- Start Our Board -->
    <div class="about-us mb-5 overflow-hidden">
      <div class="container">
        <h2 class="text-center mb-5 mt-5 text-uppercase">Our Board</h2>
        <div class="row">
          <div
            data-aos="fade-right"
            data-aos-duration="1000"
            class="col-lg-6 d-flex align-items-center justify-content-center mb-3"
          >
            <div class="pic">
              <img class="mw-100" src="./img/meet.jpeg" alt="" />
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center">
            <div class="cont d-flex flex-column gap-2 gap-lg-3">
              <p data-aos="fade-right" data-aos-duration="300">
                Our excutive committee that jointly supervises the activities,
                strategic Direction and accountability of our nonprofit
                Organization our main goal, helping with a smile .. can make a
                difference.
              </p>
              <p data-aos="fade-right" data-aos-duration="300">
                The Purpose of the organization is following: to enhance the
                quality of life of families facing financial hardship, by
                providing philanthropic support to women and children,
                empowering them and enriching their life with happiness and
                hope.
              </p>
              <p data-aos="fade-right" data-aos-duration="300">
                The organization is organized exclusively for purposes pursuant
                to section 501(C)(3) of the Internal Revenue Code.
              </p>
            </div>
          </div>
        </div>
        <a
          style="width: 173.52px"
          href="./our-board.html"
          class="btn main-btn d-flex align-items-center justify-content-center up-coming mt-4"
          >Our Board</a
        >
      </div>
    </div>
    <!-- End Our Borad -->
    <!-- Start Latest Events -->
    <div class="latest-events mt-5 py-5">
      <div class="container">
        <h2 class="text-center mb-5">OUR LATEST EVENTS</h2>
        <div
          class="row"
          id="row-two"
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1000"
        >
          <!-- <div class="col-lg-4 mb-3">
            <div class="box">
              <div class="photo">
                <img class="mw-100" src="./img/event.jpeg" alt="" />
              </div>
              <div class="description py-4 px-3 d-flex flex-column gap-3">
                <div class="calender-loc">
                  <i
                    style="color: var(--third-color); padding-right: 2px"
                    class="fa-solid fa-calendar-days"
                  ></i>
                  <span class="text-secondary">Sep. 10, 2023</span>
                </div>
                <h3>World Wide Donation</h3>
                <div class="time-loc">
                  <i
                    style="color: var(--third-color); padding-right: 2px"
                    class="fa-regular fa-clock"
                  ></i>
                  <span class="text-secondary">10:30AM-03:30PM</span>
                </div>
                <p class="text-secondary">
                  A small river named Duden flows by their place and supplies it
                  with the necessary regelialia.
                </p>
                <a
                  style="color: var(--third-color)"
                  href="#"
                  class="btn d-flex gap-2 align-items-center p-0"
                >
                  Join Event
                  <i
                    style="padding-bottom: 2px"
                    class="fa-solid fa-chevron-right"
                  ></i>
                </a>
              </div>
            </div>
          </div> -->
        </div>
        <div
          style="width: fit-content"
          class="buttons-events d-flex flex-column flex-lg-row flex-md-row m-auto gap-3"
        >
          <a
            style="width: 173.52px"
            href="./events.html"
            class="btn main-btn d-flex align-items-center justify-content-center up-coming"
            >All Events</a
          >
          <a
            style="width: 173.52px"
            href="./upcoming-events.html"
            class="btn main-btn d-flex align-items-center justify-content-center up-coming"
            >Up Coming Events</a
          >
        </div>
      </div>
    </div>
    <!-- End Latest Events -->
    <!-- Start Gallery -->
    <div class="studio mt-5">
      <h2 class="text-center mb-5 text-uppercase">Gallery</h2>
      <!-- <div
        id="carouselExampleAutoplaying"
        class="carousel slide studio-slider"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./img/event.jpeg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="./img/1.jpeg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="./img/2.jpeg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="./img/3.jpeg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="./img/4.jpeg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="./img/5.jpeg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="./img/6.jpeg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="./img/7.jpeg" class="d-block w-100" alt="..." />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->
      <div class="img-gallery">
        <div class="box">
          <img class="mw-100" src="./img/gal-1.jpeg" alt="" />
        </div>
        <div class="box">
          <img class="mw-100" src="./img/gal-2.jpeg" alt="" />
        </div>
        <div class="box">
          <img class="mw-100" src="./img/gal-3.jpeg" alt="" />
        </div>
        <div class="box">
          <img class="mw-100" src="./img/gal-4.jpeg" alt="" />
        </div>
        <div class="box">
          <img class="mw-100" src="./img/gal-5.jpeg" alt="" />
        </div>
        <div class="box">
          <img class="mw-100" src="./img/gal-6.jpeg" alt="" />
        </div>
        <div class="box">
          <img class="mw-100" src="./img/gal-7.jpeg" alt="" />
        </div>
        <div class="box">
          <img class="mw-100" src="./img/gal-8.jpeg" alt="" />
        </div>
        <div class="box">
          <img class="mw-100" src="./img/gal-9.jpeg" alt="" />
        </div>
      </div>
    </div>
    <!-- End Gallery -->
    <!-- Start Video -->
    <p id="video"></p>
    <div style="background-color: #f9f9f9" class="video pt-5 pb-5">
      <div class="container">
        <video id="myVideo" controls style="width: 100%" loop>
          <source src="./img/Video.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <!-- End Video -->
    <!-- Start volunteer -->
    <div class="volunteer pt-5 pb-5">
      <div class="container position-relative">
        <div class="row d-flex align-items-center justify-content-center">
          <div
            class="col-lg-6 d-flex align-items-center justify-content-center flex-column gap-4"
          >
            <h2 class="text-white">Be A Volunteer</h2>
            <a
              href="./contact-us.html"
              class="good-btn mb-3 py-3 px-5"
              type="submit"
              id="send-btn"
              >Contact Us</a
            >
          </div>
          <div class="col-lg-6">
            <div class="pic position-relative">
              <img class="mw-100" src="./img/bg_4.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End volunteer -->
{% endblock content%}



